@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

html,
body {
  font-family: 'Comfortaa', cursive;
  padding: 0;
  margin: 0;
}

input {
  font-family: 'Comfortaa', cursive;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
  outline: none;
}

svg {
  fill: #e5abf5;
}

svg:hover {
  fill: #fff;
}
